<ion-header >
  <ion-toolbar >
    <ion-item lines="none">
      <ion-title>Restablecer Contraseña</ion-title>
    </ion-item>
  </ion-toolbar>  
</ion-header>
 
<ion-content class="ion-text-center">
  <div class="contend">
    <label>Hemos enviado un correo de recuperación a ejemplo@gmail.com</label>
  </div>

  <div class="button">
    <ion-button color="mycolor" class="boton" size="default"  type="submit"  shape="round" [routerLink]="['/home']" routerLinkActive="router-link-active">RECUPERAR</ion-button>
  </div>

  <ion-item color="none" lines="none">
    <label>¿No recibiste el correo? Revisa la carpeta de correo no deseado</label>
  </ion-item>

  <div id="header">
    <img src="../assets/img/LOGO.png" alt="">
</div>
  

</ion-content>
