
<ion-tabs >
  <ion-tab-bar  slot="bottom">
    <ion-tab-button tab="vencidos">
      <ion-icon name="sad-outline"></ion-icon>
      <ion-label>Vencidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="surtidos">
      <ion-icon name="layers-outline"></ion-icon>
      <ion-label>Surtidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="liquidados">
      <ion-icon name="bag-check-outline"></ion-icon>
      <ion-label>Liquidados</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
