ion-content{
        --ion-background-color: rgb(242,242,242);
    --ion-background-color: radial-gradient(circle, rgba(242,242,242,1) 0%, rgba(179,187,195,1) 100%);
  }

ion-card{
  --ion-background-color: rgb(255,255,255);
  --ion-background-color: radial-gradient(circle, rgba(255,255,255,1) 14%, rgba(232,231,231,1) 100%);
  color: black; 
}
label{
    color: black;
}
  
.contend{
    margin-top: 50%;
}

.correo{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.button{
    ion-button{
        margin-top: 7%;
        margin-bottom: 10%;
        height: 40px;
        font-size: 15px;
    }
  }
  
  
  .ion-color-mycolor {
      --ion-color-base: var(--ion-color-mycolor);
      --ion-color-base-rgb: var(--ion-color-mycolor-rgb);
      --ion-color-contrast: var(--ion-color-mycolor-contrast);
      --ion-color-contrast-rgb: var(--ion-color-mycolor-contrast-rgb);
      --ion-color-shade: var(--ion-color-mycolor-shade);
      --ion-color-tint: var(--ion-color-mycolor-tint);
  }



img{
      margin-top: 30%;
        width: 230px;

    }
    