<ion-header >
  <ion-toolbar >
    <ion-item lines="none">
      <ion-title>Restablecer Contraseña</ion-title>
      <ion-item >
        <ion-icon button=""  slot="end" name="search-outline"></ion-icon>
      </ion-item>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-item>
   
  </ion-toolbar>  
</ion-header>
 
<ion-content class="ion-text-center">
  <div class="contend">
    <label>Por favor, escribe el correo electrónico con el que inicias sesión en nuestra APP</label>
  </div>

  <div class="correo">
    <ion-item fill="solid">
      <ion-label color="none" position="floating">Correo</ion-label>
      <ion-input type="email" ngModel email></ion-input>
      <ion-note slot="helper">Ingrese su correo para recuperar su contraseña</ion-note>
      <ion-note slot="error">Verifique su correo</ion-note>
    </ion-item>
  </div>

  <div class="button">
    <ion-button color="mycolor" class="boton" size="default"  type="submit"  shape="round" [routerLink]="['./confirm-password']" routerLinkActive="router-link-active">RECUPERAR</ion-button>
  </div>

  <div id="header">
    <img src="../assets/img/LOGO.png" alt="">
</div>
  

</ion-content>
